<template>
  <div class="header box">
    <div class="container">
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <nuxt-link :to="{ name: 'index' }">
            <Logo class="title_img"></Logo>
            <span class="title_span">{{ title }}</span>
          </nuxt-link>
          <a role="button" class="navbar-burger burger" :class="{ 'is-active': isMenuOpen }" @click="isMenuOpen = !isMenuOpen" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <div class="navbar-item field">
              <Search></Search>
            </div>
          </div>
        </div>

        <!-- For desktop -->
        <div class="navbar-end is-hidden-touch">
          <Menu
            @switchLoginModal="$emit('switchLoginModal')"
            @switchRegisterModal="$emit('switchRegisterModal')"></Menu>
        </div>

        <!-- For mobile and tablet -->
        <div v-show="isMenuOpen" class="navbar-end">
          <Menu
            @switchLoginModal="$emit('switchLoginModal')"
            @switchRegisterModal="$emit('switchRegisterModal')"></Menu>
        </div>

      </nav>
    </div>
  </div>
</template>

<script>
  import Menu from './Menu';
  import Search from './Search';
  import Logo from '~/components/Logo.vue'

  export default {
    name: 'Header',
    props: ['title'],
    data () {
      return {
        isMenuOpen: false,
      }
    },
    created(){
    },
    computed: {
      isUserLoggedIn () {
        return this.$store.state.isUserLoggedIn
      }
    },
    components: {
      Search,
      Menu,
      Logo
    }
  };
</script>

<style lang="scss" scoped>
  @import "~assets/scss/_variables.scss";

.header{
  border-bottom: 1px solid #e2e8ec;
  .navbar{
    padding: 0;
    min-height: 70px;
    font-family : "微軟正黑體","Microsoft JhengHei",san-serif 
  }
  .title_img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .title_span{
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  }
  .navbar-menu{
    padding: 0
  }
  @media screen and (min-width: $desktop){
    .navbar{
      padding: 0 10px;
    }
    .navbar-brand{
      padding-top: 10px;
      margin-right: 40px;
    }
    .title_img{
      width: 50px;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
    .title_span{
      font-size: 15px;
    }
  }
  a {
    color: #4A4F54;
  }
  p.has-icons-left{
    min-width: 250px;
  }
    
}


</style>

