<template>
<div>
  <div class="course_main is-clearfix">
      <div class="course_left master">
        <div class="course_title is-clearfix">
          <h1 class="is-pulled-left">課程名稱</h1>
          <div class="button_parent">
            <button class="button is-pulled-right">
              <span class="icon">
                <i class="far fa-heart"></i>
              </span>
            </button> 
          </div>
        </div>
        <div class="course_content">
          <div class="course_movie">
            <div class="course_movie_inner">
              <figure class="image is-16by9">
                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/YE7VzlLtp-4?showinfo=0" frameborder="0" allowfullscreen></iframe>
              </figure>
            </div>
          </div>
          <div class="course_info">
            <div class="tabs is-fullwidth">
              <ul>
                <li @click="setTab(0)" :class="{'is-active':tabActive == 0}">
                  <a>
                    <span class="icon"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                    <span>課程介紹</span>
                  </a>
                </li>
                <li @click="setTab(1)" :class="{'is-active':tabActive == 1}">
                  <a>
                    <span class="icon"><i class="fas fa-bolt" aria-hidden="true"></i></span>
                    <span>即時資訊</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="info_content">
              <div class="content">
                資料1
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course_right secondary">
        <div class="course_top is-clearfix">
          <div class="course_top_left">章節</div>
          <span class="course_top_station">名稱</span>
        </div>
        <div class="course_item_parent" style="color:#4a4a4a;">
          <div @click="clickItem(n)" v-for="n in 10" :key="n" :class="{'active':n == itemActive}" class="course_item">
            <div class="course_item_station">
              <span class="course_item_number">{{n}}</span>
            </div>
            <div class="course_item_name">
              分類名稱
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import {sleep} from "~/assets/js/tool.js"
export default {
  name: 'course-id',
  async validate ({ store, error, params }) {
    // console.log(context.app.router)
 
    await store.dispatch('ajaxCourses');
    if (params.id < store.state.coursesAmount || params.id === store.state.coursesAmount) {
      return true
    } else {
      return false
    }

    // return true
    // return false // 預設導到404頁面
  },
  async asyncData(){
    await sleep(1000);
  },
  data () {
    return {
      tabActive:0,
      itemActive: 0,
    };
  },
  created(){
  },
  mounted(){
    this.itemActive = this.$route.query.item || 1;
  },
  computed: {
  },
  methods: {
    clickItem(item){
      if(item == this.itemActive) return;
      this.itemActive = item;
      this.$router.push({
        query: {
          item: item
        }
      });
    },
    setTab(index){
      this.tabActive = index;
    }
  },
  watch: {
    $route(to, from) {
        // console.log(to.query)
        this.itemActive = to.query.item || 1;
    }
  },
  components: {
  }
};
</script>

<style lang="scss" scoped>
  @import "~assets/scss/_variables.scss";

.course_main{
  position: relative;
  background-color: #f5f8f8;
  .course_left{
    width: 75%;
  }
  .course_right{
    width: 25%;
    font-size: 14px;
    top: 0;
    height: 100%;
  }
  .course_item_parent{
    width: 100%;
    height: 100%;
    background-color: #f5f8f8;
  }
  .course_item{
    min-height: 60px;
    padding:0;
    padding-left: 13px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    &:not(:last-child){
      .course_item_station{
        &::before{
          content: "";
          width: 5px;
          display: inline-block;
          background-color: currentColor;
          position: absolute;
          height: 68px;
          bottom: -68px;
          margin-left: -2px;
          z-index: 2;
        }
      }
    }
    &:nth-child(odd){
      background-color: #ebf0f1;
    }
    &:hover{
      background-color: #ccc;
    }
    &.active{
      background-color: #ccc;
    }
  }
  .course_item_station{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
    font-size: 15px;
    border-width: 4px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    position: relative;
    z-index: 3;
    transform: scale(0.8);
    top: -1px;
    position: relative;
    .course_item_number{
      display: block;
      font-weight: bold;
      position: relative;
      color: #4a4a4a;
    }
  }
  .course_item_name{
    color: #4a4a4a;
    display: inline-block;
    top: 4px;
    position: relative;
    margin-left: 8px;
    margin-right: 3px;
    width: 79%;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    a{
      color: inherit;
    }
  }
  .course_top{
    height: 30px;
    line-height: 30px;
    background: #3d3d3d;
    color: #fff;
    padding-left: 18px;
    font-size: 12px;
    .course_top_left{
      width: 35px;
      display: inline-block;
    }
    .course_top_station{
      width: auto;
      display: inline-block
    }
    .course_top_transfer{
      margin-left: 9px;
      display: inline-block
    }
  }
  .course_title{
    background-color: #DFE4E5;
    padding: 0 20px;
    padding-top: 13px;
    padding-bottom: 11px;
    position: relative;
    h1{
      font-size: 21px;
      margin-left: 6px;
      position: relative;
      top: 4px;
      color: #3d3d3d;
    }
    p{
      font-size: 15px;
      margin-top: 10px;
      color: #3d3d3d;
    }
    button{
      margin-left: 5px;
    }
  }
  .course_movie{
    width: 100%;
    background-color: black;
  }
  .course_movie_inner{
    max-width: 700px;
    margin: 0 auto;
    width: 80%;
  }
  .course_info{
    min-height: 500px;
    background-color: #fff;
  }

  .info_content{
    padding: 0 25px;
    color: #4a4a4a;
    padding-bottom: 25px;
    a:hover{
      color: $primary;
      text-decoration: underline;
    }
  }
  .master{
    float: left !important;
    left: 0!important;
    .course_movie_inner{
      right: 0!important;
    }
  }
  .secondary{
    float: right !important;
    right: 0!important;
    .course_movie_inner{
      left: 0!important;
    }
  }
  @media screen and (max-width: $desktop){
    .course_left{
      width: 100%;
    }
    .course_right{
      width: 100%;
    }
  }
}
</style>


