@import '_variables';
@import '~bulma';

// a:visited {
//     color: $blue;
// }

// layoutTransition
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}


// pageTransition
.page-enter-active, .page-leave-active {
    transition: opacity .4s;
}
.page-enter, .page-leave-active {
     opacity: 0;
}

