<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        first-nuxt
      </h1>
      <h2>
          我是動態路由
          我會在 {{sec}} 秒之後跳轉至首頁
      </h2>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
        <!-- <nuxt-link to="/demo/tpl">到 demo/tpl 頁</nuxt-link>  -->
        <nuxt-link to="/demo/tpl" no-prefetch>到 demo/tpl 頁</nuxt-link> 
        <!-- <router-link to="/demo/tpl">到 demo/tpl 頁</router-link>  -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data () {
        return {
          sec: 10,
          time: null
        }
    },
    created() {
        // this.setTime();
        // console.log('route:', this.$route)
        // console.log('router:', this.$router)
    },
    methods:{
        // timer() {
        //   this.time = setInterval(() => {
        //     if(this.sec > 1) {
        //         this.sec -= 1;
        //     } else {
        //         this.$router.push('/')
        //     }
        //     console.log(this.sec)
        //   },1000);
        // },
        // setTime() {
        //   this.timer()
        // },
        // stopTime() {
        //   if (this.time) {
        //     console.log(window)
        //     window.clearInterval(this.time)
        //     this.time=null;
        //   }
        // }
    },
    // beforeDestroy() {
    //   console.log('beforeDestroy')
    //   this.stopTime();
    // },

}
</script>

<style>

/* h2 {
  color: red;
} */
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
