<template>
  <div>
    <!-- <form action="http://localhost:3034/api/form" method="post">
      姓名：<input type="text" name="userName"><br>
      內容：<textarea name="Content"></textarea><br>
      <input type="submit" value="送出表單">
    </form> -->
       Select file to upload:
    <input type="file" id="file" ref="file" @change="uploadFile" class="input-file">

  </div>
</template>
<script>
export default {
  layout: 'mock',
  data () {
    return {
    }
  },
  created(){
  },
  mounted(){
    
    // console.log(this.$qs)
    // this.$axios({
    //   method: 'post',
    //   baseURL: 'http://localhost:3034/api/form',
    //   // headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
    //   data: this.$qs.stringify({
    //     userName: '毛球',
    //     Content: '天氣真好!'
    //   })
    // }).then((response)=>{
    //   console.log(response.data)
    // })

    // this.$axios({
    //   method: 'post',
    //   baseURL: 'http://localhost:3034/api/pet/43?dog=1',
    //   data: {
    //     name: 'Mary',
    //     age: 35,
    //     hobby: 'cooking, dancing'
    //   }
    // }).then((response)=>{
    //   console.log(response.data)
    // })


    // this.$axios({
    //   method: 'patch',
    //   // 模擬 cors 不同 port
    //   baseURL: 'http://localhost:3034/api/test',
    //   // 使用 nuxt proxy
    //   // baseURL: '/api/test',
    //   headers: {
    //     'X-Custom-Header': 'foobar',
    //     'Authorization': 'Basic 123456'
    //   },
    //   data: {
    //     'body': 'body info'
    //   }
    // }).then((response)=>{
    //   console.log(response.data)
    // })
    // console.log("mounted");
    this.$axios({
      method: 'post',
      baseURL: 'http://localhost:3015/test',
    }).then((response)=>{
      console.log(response.data)
    })
  },
  computed: {
  },
  methods: {
    uploadFile(){
     let formData = new FormData(); //form重設
     formData.append("videoFile",this.$refs.file.files[0]);
     formData.append("title","title");
     formData.append("description","description");
      this.$axios({
        method: 'post',
        baseURL: 'http://localhost:3034/api/file',
        headers: {
          'Content-Type': 'multipart/form-data' 
        },
        data: formData
      }).then((response)=> {
          console.log(response.data);
      })
    }
  },

  components: {
  }
}
</script>


