<template>
  <div class="bg-pink">
    <Demo :propsmsg="propstxt" @emit_Fn="emit_Fn">
      <div>我是父組件傳的訊息到插槽內</div>
    </Demo>
    <Demo />
    <!-- @ 或 ~ 為跟目錄層 FIRST-NUST 之意 -->
    <img class="img" src="~/assets/images/demo.png" alt="">
    <img class="img" src="@/assets/images/demo.svg" alt="">
    <h1>
      {{title}}
    </h1>
    <h2>
      {{h2}}
    </h2>
    <h2 @click="demoH2Test">
      {{demoH2}}
    </h2>
    <!-- <div class="transparent">
      <h3 @click="demoFn">點我測試一般函式this</h3>
      <h3 @click="demoFnArrow">點我測試箭頭函式this</h3>
    </div> -->
    <!-- 一般的超連結 會重整網頁 -->
    <a href="/">a標籤回首頁</a>
    <div>
      <!-- nuxt spa 不會重整網頁 -->
      <nuxt-link to="/demo/test">到 demo/test 頁</nuxt-link> 
      <nuxt-link to="/">nuxt-link 回首頁</nuxt-link>
    </div>
    <!-- <datepicker></datepicker> -->
    <client-only>
       <datepicker />
    </client-only>
  </div>
</template>
<style lang="scss">
@import '@/assets/scss/demo.scss';
$x:10;
.transparent {
  opacity: $x*6%;
}
.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
.img {
  width: 300px;
  height: auto;
}
.bg-pink {
  background-color:$pink;
}
// h2 {
//   color: red;
// }
</style>
<script>
import Vue from "vue"
import Logo from '@/components/Logo.vue'
import Demo from '@/components/Demo.vue'
// import {sleep,deepCopy} from "@/assets/js/tool.js"
// import * as tool from "~/assets/js/tool.js"
// import test from "~/assets/js/test.js"

export default {
  name: 'demolayout',
  // layout: 'demolayout',
  head () {
    return {
      title: this.title,//吃到 data 中的 title
      meta: [
        { hid: 'description', name: 'description', content: 'My custom description' }
      ],
    script:
      [
        { src: "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js" }
      ]
    }
  },
  data () {
    return {
      title: "demo",
      h2: "這是 h2",
      propstxt: "父傳子的訊息"
    }
  },
  created(){ ////////// server render 鉤子
    // console.log("created")
    // console.log("vue:", Vue)
    // console.log("使用物件解構方式引入 直接調用函式名稱 不可改名: ", sleep)
    // console.log("*模組全部引入 並且使用 dot notation調用: ", tool.sleep)
    // console.log(test)
    // console.log("export default 引入自訂義變數  並且使用 dot notation調用: ", test.test1('Jamie'))

    // console.log('測試plugin mode', this.$gsap)
    // this.fetchSomething();

    console.log('我是tpl.vue')
  },
  mounted(){ ///////// client render 鉤子
    // console.log("mounted")
    // this.$gsap.to(".img", {rotation: 27, x: 100, duration: 1});
    
  },
  computed: {
    demoH2(){
      // return this.h2 + "(computed)"
    }
  },
  methods: {
    demoFn(){
      // console.log("一般函式的 this 指向:", this)
    },
    demoFnArrow:()=>{
      // console.log("箭頭函式的 this 指向:", this)
    },
    demoH2Test() { 
      // console.log(this)
    },
    emit_Fn(emitInfo) {
      console.log('我是父層', emitInfo)
      console.log('我是父層')
    },
    async fetchSomething() {
      // console.log(this.$axios)
      this.$axios.$get('http://localhost:3013/demo/tpl')
        .then((response) => {
          console.log(response)
        })
    }
  },
  components: {
    // Logo: Logo,
    Logo,
    Demo
  }
}
</script>
