<template>
   <div>
       我是tpl傳進來的：{{ propsmsg }}
       <p>我是一個小元件 可重複使用</p>
       <Logo @click.native="emit_Fn(emittxt)"/>
       <div @click="emit_Fn(emittxt)">點我發射資料到父層</div>
       <div class="slot">
           <slot>
                我是子元件插槽 預設文字
            </slot>
       </div>
   </div>
</template>
<script>
import Logo from '@/components/Logo.vue'
export default {
    data () {
        return {
            emittxt: '我是元件的訊息'
        }
    },
    props: [
        'propsmsg'
    ],
    methods: {
        emit_Fn(sometxt) {
            this.$emit('emit_Fn', sometxt)
        }
    },
    components: {
        Logo,
    }
}
</script>
<style lang="scss" scoped>
    .slot {
        color: white;
    }
</style>