<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <nuxt-link :to="{ name: 'index' }">
        <Logo class='footer_logo' />
      </nuxt-link>
      <div>
        <client-only>
          <i class="far fa-copyright"></i> 2020 <strong>{{ title }}</strong> Co., Ltd, all rights reserved.
        </client-only>
        <div style="margin-top:1em">
          <a class="icon_a" href="#" target="_blank">
            <client-only>
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
            </client-only>
          </a>
          <client-only>
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          </client-only>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from '~/components/Logo.vue'
  
export default {
  name: 'Footer',
  props: ['year','title'],
  created(){
    
  },
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
 @import "~assets/scss/_variables.scss";

.footer {
   background: $white-bis;
   color: black;
   padding: 2rem 0;
  &.is_course{
    width: 75%
  }
 }
 .footer_logo{
    width: 190px;
    margin-bottom:10px;
 }
  .icon_a{
    color:#3d3d3d
  }

@media screen and (max-width: 1023px){
  .footer {
    &.is_course{
      width: 100%
    }
  }
}

</style>

