<template>
  <div>
      <Header :title="'Nuxt 練習'"
        @switchLoginModal="switchLoginModal"
        @switchRegisterModal="switchRegisterModal"/>
      <Nuxt />
      <!-- <ModalLogin modalType="registered" @modalEmit="modalEmit" :openModal="this.get_isOpenModal" /> -->
      
      <!-- <ModalLogin modalType="registered" @modalEmit="modalEmit" :openModal="openModal" 
       @update:openModal="val=>openModal=val"/> -->
      <ModalLogin
        :modalType="modalType" :openModal.sync="openModal"
        @modalEmit="modalEmit" />
      <Footer :title="'Nuxt 練習'" />
  </div>
</template>
<script>
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'
import CourseList from '@/components/CourseList/CourseList.vue'
import ModalLogin from '@/components/Modal/ModalLogin.vue'
import {sleep} from "~/assets/js/tool.js"
import { mapGetters, mapMutations } from 'vuex';
import jwt_decode from 'jwt-decode';

export default {
  name: 'default',
  async asyncData(){
    await sleep(1000);
  },
  data() {
    return {
      modalType: "",
      openModal: false
    }
  },
  mounted () {
    if(this.$route.query.id_token && this.$route.query.refresh_token &&  this.$route.query.userInfos) {
      /* 移植以下 cookie 塞資料的程式到SSR鉤子 ServerInit，前端只做移除參數 */
      // const id_token = this.$route.query.id_token;
      // const id_token_decode =jwt_decode(this.$route.query.id_token);
      // const refresh_token = this.$route.query.refresh_token;
      // const userInfos = JSON.parse(decodeURIComponent(this.$route.query.userInfos));
      // // console.log('id_token', id_token)
      // // console.log('userInfos', userInfos)

      // // 改成通過 Cookie 存取資料 寫在Store裡
      // this.set_user_OAuth({id_token, id_token_decode, refresh_token, userInfos})
      // // console.log(this.get_isOpenModal, this.get_userPicture, this.get_userName)

      // console.log(window.location.pathname)
      // 如果要删除参数而不更改页面，则必须使用：
      window.history.replaceState(null, null, window.location.pathname);
    } else {
      // // 重新整理後撈取Cookie
      // this.set_user_OAuth();
    }
  },
  computed: {
    ...mapGetters(['get_isOpenModal', 'get_userPicture', 'get_userName'])
  },
  methods: {
    modalEmit (datas) {
      // console.log(datas)
      const url = {
        login: 'https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=',
        registered: 'https://identitytoolkit.googleapis.com/v1/accounts:signUp?key='
      }
      this.$axios({
        method: 'post',
        url: url[this.modalType] + process.env.apikey,
        headers: { 'Content-Type': 'application/json' },
        data: {
          ...datas,
          returnSecureToken: true
        }
      }).then((res) => {
        console.log(res)
        this.openModal = false;
      }).catch((err)=> {
        console.log(err)
      })
    },
    // switchLoginModal() {
    //   this.set_isOpenModal(!this.get_isOpenModal);
    //   this.modalType="login";
    // },
    switchLoginModal() {
      this.openModal=!this.openModal;
      this.modalType="login";
    },
    switchRegisterModal() {
      this.openModal=!this.openModal;
      this.modalType="registered";
    },
    ...mapMutations(['set_user_OAuth'])
  },
  component: {
    Header,
    Footer,
    CourseList,
    ModalLogin
  }
}
</script>
<style>
</style>
