<template>
    <div class="container">
        <div v-if="error.statusCode === 404">
          發生 404 錯誤
          <div>找不到該頁面</div>
        </div>
        <div v-else>
          發生 {{ error.statusCode }} 錯誤
          <div>{{ error.message }}</div>
        </div>
      <NuxtLink to="/">回到首頁</NuxtLink>
    </div>
</template>

<script>
export default {
  props: ['error'],
//   layout: 'blog' // you can set a custom layout for the error page
  data () {
    return {
      counter: null
    }
  },
  mounted() {
    this.redirectHome();
  },
  methods:{
    redirectHome() {
      this.counter = setTimeout(()=>{
        this.$router.push('/')
      }, 3000)
    }
  },
  beforeDestroy() {
    window.clearTimeout(this.counter);// 銷毀該程式
  },
}
</script>