<template>
  <!-- <div class="registrationLoginModal" :class="[ get_isOpenModal ? 'is-active' : '', 'modal' ]"> -->
  <div class="registrationLoginModal" :class="[ isOpenModal ? 'is-active' : '', 'modal' ]">
    <div class="modal-background"></div>
    <div class="modal-card login">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <span>{{modalTitle}}</span>
        </p>
        <button class="delete" aria-label="close" @click="closeModal"></button>
      </header>
      <a href="/auth" class="button_a">
        <button class="button is-fullwidth google">
          <client-only>
            <span class="reg_login icon is-small">
              <i class="fab fa-google"></i>
            </span>
          </client-only>
          <span>使用 google 帳號 {{modalTitle}}</span>
        </button>
      </a>
      <hr class="login-or">
      <form>
        <section class="modal-card-body">
          <!--登入表單-->
          <div v-if="modalType == 'login'">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[emailError ? 'input is-danger' : 'input']" type="email" placeholder="Your email" name="emailName" v-model="email">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="emailError" class="help is-danger">email格式不正確</p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[passwordError ? 'input is-danger' : 'input']" type="password" placeholder="Your password" name="passwordName" v-model="password">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="passwordError" class="help is-danger">請輸入密碼</p>
            </div>
          </div>

          <!--註冊表單-->
          <div v-if="modalType == 'registered'">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[nameError ? 'input is-danger' : 'input']" type="text" placeholder="Name*" v-model="name">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="nameError" class="help is-danger">姓名格式不正確</p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[emailError ? 'input is-danger' : 'input']" type="email" placeholder="Email*" name="emailName" v-model="email">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="emailError" class="help is-danger">email格式不正確</p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[passwordError ? 'input is-danger' : 'input']" type="password" placeholder="Password*" v-model="password">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="passwordError" class="help is-danger">請填寫含數字與英文的密碼</p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input :class="[repeatPasswordError ? 'input is-danger' : 'input']" type="password" placeholder="Repeat Password*" v-model="repeatPassword">
                <client-only>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </client-only>
              </p>
              <p v-if="repeatPasswordError" class="help is-danger">密碼必須相等</p>
            </div>
          </div>
          <div class="reg_login_button" @click="checkForm">
            <button type="button" class="button is-fullwidth">{{modalTitle}}</button>
          </div>
          <hr>
          <div class="bottom_center">
            還沒有帳戶嗎? <a href="#">立即註冊</a> 或是 <a href="#">忘記密碼</a>
          </div>
        </section>
      </form>
    </div>
  </div>
</template>

<script>
import { rules } from '@/utility/utility.js';
import { forEach, every } from 'lodash-es';
// import { mapGetters, mapMutations } from 'vuex';

export default {
  name: 'ModalLogin',
  props: {
    modalType: {
      type: String,
      required: true
    },
    openModal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpenModal: this.openModal,
      name: '',
      email: '',
      password: '',
      repeatPassword: '',
      emailError: null,
      passwordError: null,
      nameError: null,
      repeatPasswordError: null
    };
  },
  computed: {
    modalTitle() {
      if (this.modalType == "login") {
        return "登入"
      }
      if (this.modalType == "registered") {
        return "註冊"
      }
    },
    // ...mapGetters(['get_isOpenModal'])
    
  },
  methods: {
    // ...mapMutations(['set_isOpenModal']),
    checkForm() {
      const datas = {
        login: ['email', 'password'],
        registered: ['name', 'email', 'password'],
        valid: {
          login: [false, false],
          registered: [false, false, false, false]
        }
      };
      //驗證
      forEach(datas[this.modalType],(data, i)=> {
        let result = rules(data, this[data]);
        datas.valid[this.modalType][i] = result;
        this[data + 'Error'] = !result; //驗證有誤就顯示訊息
      })

      // console.log(datas)
      if (this.modalType == "registered") {
        if (this.repeatPassword === '' || this.repeatPassword !== this.password) {
          this.repeatPasswordError = true;
        } else {
          this.repeatPasswordError = false;
          datas.valid[this.modalType][3] = true;
        }
      }
      
      const validAll = every(datas.valid[this.modalType], boolean =>  boolean === true);
      console.log(validAll, datas.valid[this.modalType])
      
      // 送出表單發射表單資訊出去
      if(this.modalType == "login" && validAll === true) {
        this.$emit('modalEmit', {
          email: this.email,
          password: this.password
        })
      }
      if(this.modalType == "registered" && validAll === true){
        this.$emit('modalEmit', {
          name: this.name,
          email: this.email,
          password: this.password
        })
      }
    },
    // closeModal() {
    //   this.set_isOpenModal(false);
    // },
    closeModal() {
      // this.isOpenModal=false;
      this.$emit('update:openModal', false);
    }
  },
  watch: {
    openModal() {
      this.isOpenModal = this.openModal;
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "~assets/scss/_variables.scss";

.modal-card{
  background-color: #fff;
  max-width: 430px;
  border-radius: 0px;
}
.login.modal-card{
  max-width: 430px;
}
.button_a{
  width: 60%;
  margin: 0 auto;
  margin-top: 17px;
}
button.is-fullwidth{
  width: 100%;
  margin: 0 auto;

}
.google{
  background: rgb(209, 72, 54);
  color: #fff;
}
hr{
  background-color: #e8e8e8;
}
hr.login-or{
  margin: 10px auto;
  width: 91%;
  margin-top: 27px;
  position: relative;
  overflow: initial;
  &::before{
    content: "or";
    color: #c3c3c3;
    position: absolute;
    left: 50%;
    background-color: #fff;
    display: inline-block;
    z-index: 2;
    top: -14px;
    width: 30px;
    margin-left: -15px;
    text-align: center;
  }
}
.top_header{
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  color: #757575;
}
.modal-card-body{
  margin-top: -10px;
}
.social{
  margin-top: 20px;
  margin-bottom: 0;
}
.reg_login.icon{
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.reg_login_button{
  button{
    border-radius: 20px;
    margin-top: 17px;
  }
  button.reg{
    background-color: $primary;
    color: #fff;
    width: 130px;
  }
}
.bottom_center{
  margin-top:15px;
  text-align:center;
  font-size: 14px;
  a:hover{
    color: #1B1BEF;
  }
}
 @media screen and (max-width: 600px){
   .button_a{
     width: 80%
   }
   .modal-card{
     max-width: 90%;
   }
   .login.modal-card{
     max-width: 90%;
   }
}
::placeholder {
  color: #c5c5c5;
}

</style>
