<template>
  <div>
      handle error page
  </div>
</template>

<script>
export default {
  async fetch (context) {
    //   try {
    //     await context.$axios("/api/test")
    //   } catch(e) {
    //     context.error({ statusCode: 500, message: '我是500錯誤' })
    //   }
    // console.log(context.$axios)
  },
  async asyncData (context) { 
    // console.log('asyncData', context.error())
    // await context.$axios("/api/test13")
    //     .then((res)=> {

    //     })
    //     .catch((e) => {
    //             context.error({ statusCode: 500, message: '我是500錯誤' })
    //     });
    return {
    }
  },
  data () {
    return {
    }
  },
  created() {
      // this.$axios.get('/api/test13')
      //   .then((res) => {

      //   })
      //   .catch((e) =>{
      //       this.$nuxt.error({ statusCode: 500, message: '500錯誤訊息' })
      //   })
      
    //   console.log(this)
    // console.log(context.$axios)
  },
  methods: {
  },
  computed: {
  },
  component: {
  }
}
</script>
