<template>
  <div>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <CourseList :courses="courses"/>
  </div>
</template>

<script>
import CourseList from '@/components/CourseList/CourseList.vue'
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import API from '../API';

export default {
  async fetch ({store}) {
    await store.dispatch('ajaxCourses');
    // console.log(context)
  },
  async asyncData (context) { //回傳 data
    // console.log('asyncData hook')
    // // console.log(this)
    // console.log(process.server)
    // console.log(process.client)
    // console.log(process.env)
    // let res = await $axios("/api/test");
    // return {
    //   title: res.data.title,
    //   message: res.data.message
    // }
  },
  data () {
    // console.log('data hook')
    // console.log(this)
    return {
      title: "123",
      message: "345",
    }
  },
  created() {
     this.$axios({
      method: 'post',
      url: API.member.exchangeToken.url,
      // baseURL:  'http://localhost:3034',
      headers: {
        'Content-Type': 'application/json' 
      },
      data: {}
    }).then((response)=>{
      console.log('token', response.data)
    }).catch(error => {
      console.log('error', error)
    });
    // alert('1')
    // console.log('我是 index.vue')\
    // console.log('後端會執行我')
    // this.$axios.get('/api/test')
    //   .then((res)=> {
    //     const datas = res.data;
    //     return {
    //       title: datas.title,
    //       message: datas.message
    //     }
    //   })
    // console.log(process.server)
    // console.log(process.client)
    // this.$axios
    //   .create({ baseURL: 'https://petstore.swagger.io/v2'})
    //   .request(
    //     {
    //       method: 'get',
    //       headers: {'Content-type': 'application/json'},
    //       url: './pet/1'
    //     })
    //     .then((res)=> {
    //       console.log(res.data)
    //     })
    // const instance = this.$axios.create({ baseURL: 'https://petstore.swagger.io/v2'});
    //   instance.get('./pet/2', {
    //     params: {
    //       id: '1'
    //     }
    //   })
    //     .then((res)=> {
    //       console.log(res.data)
    //     })

    
    // if(process.client) {
    //   this.$axios({
    //     method: 'post',
    //     url: API.member.exchangeToken.url,
    //     baseURL:  'http://localhost:3034',
    //     headers: {
    //       'Content-Type': 'application/json' 
    //     },
    //     data: {}
    //   }).then((response)=>{
    //     console.log(response.data)
    //   }).catch(error => {
    //     console.log(error)
    //   });
    // }

  },
  methods: {
    modalLoginEmit (datas) {
      console.log(datas)
    }
  },
  computed: {
    ...mapGetters(['get_courses']),
    courses () {
      return this.get_courses;
    }
  },
  component: {
    CourseList
  }
}
</script>

<style>

/* h2 {
  color: red;
} */
/* .container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
} */
</style>
