<template>
  <div>
      <!-- {{ get_aaa }} -->

    <CourseList />
  </div>
</template>

<script>
import CourseList from '@/components/CourseList/CourseList.vue'
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import * as storeTypes from '@/utility/constants.js'; 

export default {
  data () {
    return {
    }
  },
  created() {
    // const Store = this.$store;
    // const states = Store.state;
    // const getters = Store.getters;
    // const mutations = Store.commit;
    // const actions = Store.dispatch;
    // console.log( "store：", Store);
    // console.log( "states：", states);
    // console.log( "getters：", getters);
    // console.log( "mutations：", mutations);
    // console.log( "actions：", actions);
    
    // this.$store.commit('add_test_data');
    if(process.client) {
        // this.$store.commit('add_test_data');
        // this.add_test_data();
        // console.log(this.test_data.aaa, this.get_aaa, this.get_aaabbb)
        // console.log('index store', this.test_data)
        // console.log('child store', this.child)
        console.log('index store',this.$store.state)
        console.log('child store',this.$store.state.child)
        console.log('index getters',this.$store.getters)
        //child mutations'
        // this.$store.commit('child/add_test_data')
        // this['child/add_test_data']()
        // console.log(this.$store.getters[storeTypes.LOGIN])
        console.log(this[storeTypes.LOGIN])
    }
    
  },
  computed: {
    // get_aaa () {
    //     return this.$store.state.test_data.aaa;
    // }
    ...mapState(['test_data','child']),
    ...mapGetters([storeTypes.LOGIN])
  },
  methods: {
    ...mapMutations(['add_test_data','child/add_test_data'])
  },
  component: {
    CourseList
  }
}
</script>
