<template>
  <div>
      <div class="pt-6">{{ this.ajaxData }}</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
// import * as storeTypes from '@/utility/constants.js'; 

export default {
  data () {
    return {
    }
  },
  created() {
    // if(process.server) {
    //     this.$store.dispatch('ajaxTest'); // 不會觸發
    //     // this.ajaxTest();
    // }
    if(process.client) {
        // this.add_test_data();
        // this.$store.getters.hello;
        this.$store.dispatch('ajaxTest');
        // this.ajaxTest();
        // this.$store.dispatch(storeTypes.REMOVE_DATA);
        // this[storeTypes.REMOVE_DATA];
        
    }
    
  },
  computed: {
    ...mapState(['test_data','child', 'ajaxData']),
    ...mapGetters([_C.LOGIN])
  },
  methods: {
    ...mapMutations(['add_test_data','child/add_test_data']),
    ...mapActions(['ajaxTest', _C.REMOVE_DATA ])
  }
}
</script>
